/* font face */

@font-face {
    font-family: 'IRANSansWeb';
    src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format('eot'),
    url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format('truetype'),
    url(../fonts/IRANSansWeb/IRANSansWeb.woff) format('woff');
}

@font-face {
    font-family: 'iranyekanweb-Regular';
    src: url(../fonts/IRANyekanweb/iranyekanwebregular.woff) format('woff');
}

@font-face {
    font-family: 'iranyekanweb-Medium';
    src: url(../fonts/IRANyekanweb/iranyekanwebmedium.woff) format('woff');
}

@font-face {
    font-family: 'YekanBakhBold';
    src: url(../fonts/IRANyekanweb/YekanBakhBold.woff) format('woff');
}

@font-face {
    font-family: 'YekanBakhHeavy';
    src: url(../fonts/IRANyekanweb/YekanBakhHeavy.woff) format('woff');
}

@font-face {
    font-family: 'YekanBakhMedium';
    src: url(../fonts/IRANyekanweb/YekanBakhMedium.woff) format('woff');
}

/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset */

* , *::after , *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
}

li{
    list-style: none;
}

p{
    text-align: justify;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

/* grid system */

.container{
    /* background-color: lightslategrey; */
    position: relative;
    max-width: 120rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    margin-left: auto;
    margin-right: auto;
}

.row{
    /* background-color: khaki; */
    display: flex;
    flex-wrap: wrap;
}

.row > *{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin: 1.6rem 0;
}

.col{
    max-width: 100%;
    flex-grow: 1;
}

.col-1{
    flex: 0 0 auto;
    width: 8.33333333%; 
}

.col-2{
    flex: 0 0 auto;
    width: 16.66666666%; 
}

.col-3{
    flex: 0 0 auto;
    width: 25% ; 
}

.col-4{
    flex: 0 0 auto;
    width: 33.33333332%; 
}

.col-5{
    flex: 0 0 auto;
    width: 41.66666665% ; 
}

.col-6{
    flex: 0 0 auto;
    width: 50%; 
}

.col-7{
    flex: 0 0 auto;
    width: 58.33333331%; 
}

.col-8{
    flex: 0 0 auto;
    width: 66.66666664%; 
}

.col-9{
    flex: 0 0 auto;
    width: 75%; 
}

.col-10{
    flex: 0 0 auto;
    width: 83.3333333%; 
}

.col-11{
    flex: 0 0 auto;
    width: 91.66666663%; 
}

.col-12{
    flex: 0 0 auto;
    width: 100%; 
}

/* sm */
@media (min-width: 576px){

    .col-sm-1{
        flex: 0 0 auto;
        width: 8.33333333%; 
    }
    
    .col-sm-2{
        flex: 0 0 auto;
        width: 16.66666666%; 
    }
    
    .col-sm-3{
        flex: 0 0 auto;
        width: 25% ; 
    }
    
    .col-sm-4{
        flex: 0 0 auto;
        width: 33.33333332%; 
    }
    
    .col-sm-5{
        flex: 0 0 auto;
        width: 41.66666665% ; 
    }
    
    .col-sm-6{
        flex: 0 0 auto;
        width: 50%; 
    }
    
    .col-sm-7{
        flex: 0 0 auto;
        width: 58.33333331%; 
    }
    
    .col-sm-8{
        flex: 0 0 auto;
        width: 66.66666664%; 
    }
    
    .col-sm-9{
        flex: 0 0 auto;
        width: 75%; 
    }
    
    .col-sm-10{
        flex: 0 0 auto;
        width: 83.3333333%; 
    }
    
    .col-sm-11{
        flex: 0 0 auto;
        width: 91.66666663%; 
    }
    
    .col-sm-12{
        flex: 0 0 auto;
        width: 100%; 
    }
    
}

/* md */
@media (min-width: 768px){

    .container{
        padding-right: 2.4rem;
        padding-left: 2.4rem;
    }

    .row > * {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }
    
    .col-md-1{
        flex: 0 0 auto;
        width: 8.33333333%; 
    }
    
    .col-md-2{
        flex: 0 0 auto;
        width: 16.66666666%; 
    }
    
    .col-md-3{
        flex: 0 0 auto;
        width: 25% ; 
    }
    
    .col-md-4{
        flex: 0 0 auto;
        width: 33.33333332%; 
    }
    
    .col-md-5{
        flex: 0 0 auto;
        width: 41.66666665% ; 
    }
    
    .col-md-6{
        flex: 0 0 auto;
        width: 50%; 
    }
    
    .col-md-7{
        flex: 0 0 auto;
        width: 58.33333331%; 
    }
    
    .col-md-8{
        flex: 0 0 auto;
        width: 66.66666664%; 
    }
    
    .col-md-9{
        flex: 0 0 auto;
        width: 75%; 
    }
    
    .col-md-10{
        flex: 0 0 auto;
        width: 83.3333333%; 
    }
    
    .col-md-11{
        flex: 0 0 auto;
        width: 91.66666663%; 
    }
    
    .col-md-12{
        flex: 0 0 auto;
        width: 100%; 
    }
}

/* lg */
@media (min-width: 992px){
    
    .col-lg-1{
        flex: 0 0 auto;
        width: 8.33333333%; 
    }
    
    .col-lg-2{
        flex: 0 0 auto;
        width: 16.66666666%; 
    }
    
    .col-lg-3{
        flex: 0 0 auto;
        width: 25% ; 
    }
    
    .col-lg-4{
        flex: 0 0 auto;
        width: 33.33333332%; 
    }
    
    .col-lg-5{
        flex: 0 0 auto;
        width: 41.66666665% ; 
    }
    
    .col-lg-6{
        flex: 0 0 auto;
        width: 50%; 
    }
    
    .col-lg-7{
        flex: 0 0 auto;
        width: 58.33333331%; 
    }
    
    .col-lg-8{
        flex: 0 0 auto;
        width: 66.66666664%; 
    }
    
    .col-lg-9{
        flex: 0 0 auto;
        width: 75%; 
    }
    
    .col-lg-10{
        flex: 0 0 auto;
        width: 83.3333333%; 
    }
    
    .col-lg-11{
        flex: 0 0 auto;
        width: 91.66666663%; 
    }
    
    .col-lg-12{
        flex: 0 0 auto;
        width: 100%; 
    }
}

/* xl */
@media (min-width: 1200px){
    
    .col-xl-1{
        flex: 0 0 auto;
        width: 8.33333333%; 
    }
    
    .col-xl-2{
        flex: 0 0 auto;
        width: 16.66666666%; 
    }
    
    .col-xl-3{
        flex: 0 0 auto;
        width: 25% ; 
    }
    
    .col-xl-4{
        flex: 0 0 auto;
        width: 33.33333332%; 
    }
    
    .col-xl-5{
        flex: 0 0 auto;
        width: 41.66666665% ; 
    }
    
    .col-xl-6{
        flex: 0 0 auto;
        width: 50%; 
    }
    
    .col-xl-7{
        flex: 0 0 auto;
        width: 58.33333331%; 
    }
    
    .col-xl-8{
        flex: 0 0 auto;
        width: 66.66666664%; 
    }
    
    .col-xl-9{
        flex: 0 0 auto;
        width: 75%; 
    }
    
    .col-xl-10{
        flex: 0 0 auto;
        width: 83.3333333%; 
    }
    
    .col-xl-11{
        flex: 0 0 auto;
        width: 91.66666663%; 
    }
    
    .col-xl-12{
        flex: 0 0 auto;
        width: 100%; 
    }
}

/* xxl */
@media (min-width: 1400px){
    
    .col-xxl-1{
        flex: 0 0 auto;
        width: 8.33333333%; 
    }
    
    .col-xxl-2{
        flex: 0 0 auto;
        width: 16.66666666%; 
    }
    
    .col-xxl-3{
        flex: 0 0 auto;
        width: 25% ; 
    }
    
    .col-xxl-4{
        flex: 0 0 auto;
        width: 33.33333332%; 
    }
    
    .col-xxl-5{
        flex: 0 0 auto;
        width: 41.66666665% ; 
    }
    
    .col-xxl-6{
        flex: 0 0 auto;
        width: 50%; 
    }
    
    .col-xxl-7{
        flex: 0 0 auto;
        width: 58.33333331%; 
    }
    
    .col-xxl-8{
        flex: 0 0 auto;
        width: 66.66666664%; 
    }
    
    .col-xxl-9{
        flex: 0 0 auto;
        width: 75%; 
    }
    
    .col-xxl-10{
        flex: 0 0 auto;
        width: 83.3333333%; 
    }
    
    .col-xxl-11{
        flex: 0 0 auto;
        width: 91.66666663%; 
    }
    
    .col-xxl-12{
        flex: 0 0 auto;
        width: 100%; 
    }
}

/*  */

:root{
    --font-family: 'iranyekanweb-Regular','IRANSansWeb',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --main-color: #7e57c2;
    --bg-color: #e8eaf6;
    --main-text-color: #000000de;
    --second-text-color: #00000099;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    direction: rtl;
    font: 1.5rem var(--font-family);
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: var(--main-text-color);
}

/* component */

.common-style-link{
    background: var(--bg-color);
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

/* helper class */

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.Hfull-Vful{
    width: 100%;
    height: 100%;
}

/* header */

.header{
    background: #fff;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav{
    width: 100%;
}

.logo{
    width: 10rem;
    height: 5rem;
}

.menu-hamburger{
    display: none;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
}

.menu-hamburger , .btn-menu-cross__icon{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -ms-transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
}

.menu-hamburger:hover , .btn-menu-cross__icon:hover{
    background: rgba(0, 0, 0, .04);
}

.menu-hamburger__lines{
    width: 3.5rem;
    height: 3.5rem;
    fill: #0000008a;
}

.btn-menu-cross{
    display: none;
    padding: .2rem 0 .2rem .2rem;
    border-bottom: .1rem solid gainsboro;
    justify-content: flex-end;
}

.btn-menu-cross__icon{
    fill: #0000008a;
    cursor: pointer;
    padding: .7rem;
    width: 4.1rem;
    height: 4.1rem;
}

.menu__list-item{
    padding: .8rem 1.6rem;
}

.menu__link{
    color: #343434;
    line-height: 1;
    font-weight: 600;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.menu__link:hover{
    color: var(--main-color);
}

.menu__svg{
    display: none;
}

.nav__link{
    margin: 0 .5rem;
}

.nav__shopping-cart {
    padding: 1.5rem .97rem;
}

/* main */

.main{
    padding-top: 13rem;
}

/* section-basic-info */

.total-container-basic-info{
    position: relative;
    box-shadow: rgba(94, 129, 209, 0.16) 0px 8px 24px;
    padding: 3rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.basic-info__total-warrper{
    display: flex;
}

.basic-info__warrper-right{
    width: 55%;
}

.basic-info__title{
    font: 2rem 'YekanBakhHeavy';
    margin-bottom: 1.6rem;
}

.basic-info__description{
    font-size: 1.3rem;
}

.basic-info__warrper-left{
    width: 45%;
    margin-right: 7%;
}

.basic-info__intro-video{
    width: 100%;
}

.basic-info__video{
    object-fit: cover;
    width: 100%;
    max-height: 26.4rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem; 
}

.basic-info__details{
    margin-top: 3rem;
    justify-content: space-evenly;
}

.basic-info__detail{
    flex-direction: column;
}

.basic-info__caption{
    font: 1.3rem 'YekanBakhMedium';
    margin-top: 1.5rem;
}

.basic-info__caption--none{
    display: none;
}

.loading{
    position: relative;
    margin-top: 1.5rem;
    column-gap: .3rem;
}

.loading__circle{
    background: var(--main-text-color);
    display: inline-block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.loading__circle:nth-child(1){
    animation: scale0 .4s infinite;
    -webkit-animation: scale0 .4s infinite;
}

.loading__circle:nth-child(2) , .loading__circle:nth-child(3){
    animation: translate .4s infinite;
    -webkit-animation: translate .4s infinite;
}

.loading__circle:nth-child(4){
    position: absolute;
    top: calc(50% - .25rem);
    left: 0;
    animation: scale1 .4s infinite;
    -webkit-animation: scale1 .4s infinite;
}

.basic-info__container-register{
    position: absolute;
    bottom: 3rem;
    width: 48.5%;
    justify-content: space-between;
}

.basic-info__register-link{
    font: 1.3rem 'YekanBakhHeavy';
    background: #2e7d32;
    color: #fff;
    padding: .8rem 1.5rem;
    border-radius: 1rem ;
    -webkit-border-radius: 1rem ;
    -moz-border-radius: 1rem ;
    -ms-border-radius: 1rem ;
    -o-border-radius: 1rem ;
    transition: background 250ms linear;
    -webkit-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    -ms-transition: background 250ms linear;
    -o-transition: background 250ms linear;
}

.basic-info__register-link:hover{
    background: rgb(87, 151, 91);
}

.basic-info__register-svg , .basic-info__price{
    margin-left: .5rem;
}

.basic-info__text{
    font-family: 'YekanBakhHeavy';
}

/* footer */

.footer{
    margin-top: 19rem;
}

.total-container-footer{
    display: flex;
    margin-bottom: 4rem;
}

.total-container-footer > div{
    width: 50%;
}

.footer__container:nth-child(1){
    padding-left: 3.2rem;
}

.footer__container:nth-child(2){
    padding-right: 3.2rem;
    display: flex;
    flex-wrap: wrap;
}

.footer-details__cover{
    width: 15rem;
    max-height: 7.5rem;
}

.footer-logo{
    cursor: pointer;
}

.footer-details__texts{
    color: #616161;
    margin-right: 1.6rem;
}

.footer-details__title{
    font: 2rem 'YekanBakhHeavy';
}

.footer-details__text{
    font-weight: 700;
    word-spacing: -.2rem;
}

.footer-details__caption{
    margin-top: 3.2rem;
    opacity: .9;
}

.footer__container:nth-child(2) > *{
    width: 50%;
}

.sections-of-the-site * , .secure-payment {
    color: var(--second-text-color);
}

.sections-of-the-site__title , .secure-payment__title{
    font: 2rem 'YekanBakhBold';
    margin-bottom: 2rem;
}

.sections-of-the-site-lists__item{
    position: relative;
}

.sections-of-the-site-lists__item:not(:last-child){
    margin-bottom: .8rem;
}

.sections-of-the-site-lists__item::before{
    content: '';
    background: var(--bg-color);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: .8rem;
    height: .8rem;
}

.sections-of-the-site-lists__link{
    font-family: 'iranyekanweb-Medium';
    margin-right: 1.5rem;
}

.communications-ways__link{
    width: 3rem;
    height: 3rem;
}

.communications-ways__svg{
    fill: var(--main-color);
}

.communications-ways__link:nth-child(2){
    margin: 0 1rem;
}

.footer__text{
    font-family: 'YekanBakhBold';
    text-align: center;
    padding: 1.6rem 0;
    opacity: .7;
}

/* section-more-details-about-the-course */

.section-more-details-about-the-course{
    margin: 12rem 0;
}

.container-more-details-about-the-course{
    position: relative;
    overflow-y: hidden;
    height: 72.5rem;
    transition: .5s linear;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -ms-transition: .5s linear;
    -o-transition: .5s linear;
}

.container-more-details-about-the-course__overlay{
    background: rgba(255, 255, 255, .8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 11rem;
    z-index: 4;
}

.explanation-about-the-course:not(:last-child){
    margin-bottom: 5rem;
}

.explanation-about-the-course__title{
    font: 800 2.4rem 'YekanBakhHeavy';
    margin-right: 1rem;
}

.explanation-about-the-course__description{
    line-height: 2;
    padding-top: 16px;
}

.explanation-about-the-course-lists{
    padding-top: 1.6rem;
}

.explanation-about-the-course-lists__item{
    position: relative;
    margin-top: 1.6rem;
}

.explanation-about-the-course-lists__item::before{
    content: '';
    background: var(--main-text-color);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.explanation-about-the-course-lists__item-text{
    margin-right: 1.2rem;
}

.total-container-more-details-about-the-course__btn{
    z-index: 3;
    overflow: hidden;
    position: relative;
    background: #fff;
    color: #000;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font: 1.3rem 'iranyekanweb-Regular';
    display: block;
    width: 13rem;
    height: 3.45rem;
    margin: 0 auto ;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: background .5s linear;
    -webkit-transition: background .5s linear;
    -moz-transition: background .5s linear;
    -ms-transition: background .5s linear;
    -o-transition: background .5s linear;
}

.total-container-more-details-about-the-course__btn:hover{
    background-color: rgba(126, 87, 194, 0.04);
}

.circle-read-more-btn{
    position: absolute;
    background: rgba(158, 158, 158, 0.521);
    width: 4rem;
    height: 4rem;
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@keyframes translate{
    from{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
}
    to{
        transform:translateX(.96rem);
        -webkit-transform:translateX(.96rem);
        -moz-transform:translateX(.96rem);
        -ms-transform:translateX(.96rem);
        -o-transform:translateX(.96rem);
}
}

@keyframes scale1{
    from{
        transform:scale(0);
        -webkit-transform:scale(0);
        -moz-transform:scale(0);
        -ms-transform:scale(0);
        -o-transform:scale(0);
    }
    to{
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
    }
}

@keyframes scale0{
    from{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    to{
        transform:scale(0);
        -webkit-transform:scale(0);
        -moz-transform:scale(0);
        -ms-transform:scale(0);
        -o-transform:scale(0);
    }   
}

@keyframes circleBtn{
    0%{
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }

    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

@media (max-width: 1200px){

}

@media (max-width: 992px){

    .menu__list-item {
        padding: 0.8rem 1rem;
    }
}

@media (max-width: 848px){

    .basic-info__total-warrper{
        flex-direction: column;
    }

    .basic-info__warrper-right , .basic-info__warrper-left{
        width: 100%;
    }

    .basic-info__warrper-left{
        margin: 4rem 0;
    }

    .basic-info__video{
        max-height: 44.4rem;
    }

    .basic-info__container-register{
        position: static;
        width: 100%;
    }

    .total-container-footer{
        flex-direction: column;
    }

    .total-container-footer > div{
        width: 100%;
    }

    .footer__container:nth-child(1){
        padding-left: 0;
        margin-bottom: 4rem;
    }
    
    .footer__container:nth-child(2){
        padding-right: 0;
    }

    .communications-ways{
        margin-top: 4rem;
    }
}

@media (max-width: 768px){

    .common-style-link{
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        -webkit-border-radius: 1.5rem;
        -moz-border-radius: 1.5rem;
        -ms-border-radius: 1.5rem;
        -o-border-radius: 1.5rem;
    }

    .logo{
        display: none;
    }

    .menu-hamburger{
        display: flex;
    }

    .total-container-menu{
        cursor: pointer;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
}

    .header-active .total-container-menu{
        opacity: 1;
        visibility: visible;
    }

    .container-menu{
        cursor: default;
        background: #fff;
        position: relative;
        top: 0;
        right: -22.5rem;
        width: 22.5rem;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
        transition: right .4s;
        -webkit-transition: right .4s;
        -moz-transition: right .4s;
        -ms-transition: right .4s;
        -o-transition: right .4s;
}

    .header-active .container-menu{
        right: 0;
    }

    .btn-menu-cross{
        display: flex;
    }

    .menu{
        flex-direction: column;
        align-items: flex-start;
        padding: .8rem 0;
    }

    .menu__list-item {
        padding: 1rem ;
    }

    .menu__svg{
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
    }

    .menu__link{
        font-size: 1.5rem;
        font-weight: 900;
        margin-right: .6rem;
    }

    .nav__shopping-cart {
        padding: 1.13rem .5rem;
    }
}

@media (max-width: 576px){
    .footer-details__container{
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-details__texts{
        margin-top: 1.6rem;
    }

    .footer__container:nth-child(2) > * {
        width: 100%;
    }

    .sections-of-the-site{
        margin-bottom: 4rem;
    }

    .section-more-details-about-the-course {
        margin: 8rem 0;
    }

    .explanation-about-the-course__title{
        font-size: 1.8rem;
    }

    .explanation-about-the-course__description{
        font-size: 1.4rem;
    }

}

@media (max-width: 420px){
    .common-style-link {
        padding: 1rem;
    }

    .nav__shopping-cart {
        padding: 1.06rem 0.5rem;
    }

    .basic-info__title{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .basic-info__warrper-left {
        margin: 2.5rem 0;
    }

    .basic-info__details{
        flex-wrap: wrap;
    }

    .basic-info__detail{
        margin: .5rem .5rem 0;
    }

    .basic-info__container-register{
        flex-direction: column-reverse;
    }

    .basic-info__register-link{
        margin-top: .5rem;
    }

    .explanation-about-the-course__title{
        font-size: 1.6rem;
    }

    .explanation-about-the-course__description{
        font-size: 1.3rem;
    }
}