/* font face */

@font-face {
    font-family: 'IRANSansWeb';
    src: url(../fonts/IRANSansWeb/IRANSansWeb.eot) format('eot'),
    url(../fonts/IRANSansWeb/IRANSansWeb.ttf) format('truetype'),
    url(../fonts/IRANSansWeb/IRANSansWeb.woff) format('woff');
}

@font-face {
    font-family: 'iranyekanweb-Regular';
    src: url(../fonts/IRANyekanweb/iranyekanwebregular.woff) format('woff');
}

@font-face {
    font-family: 'iranyekanweb-Medium';
    src: url(../fonts/IRANyekanweb/iranyekanwebmedium.woff) format('woff');
}

@font-face {
    font-family: 'YekanBakhBold';
    src: url(../fonts/IRANyekanweb/YekanBakhBold.woff) format('woff');
}

@font-face {
    font-family: 'YekanBakhHeavy';
    src: url(../fonts/IRANyekanweb/YekanBakhHeavy.woff) format('woff');
}

@font-face {
    font-family: 'YekanBakhMedium';
    src: url(../fonts/IRANyekanweb/YekanBakhMedium.woff) format('woff');
}

/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset */

* , *::after , *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
}

li{
    list-style: none;
}

p{
    text-align: justify;
}

/* grid system */

.container{
    /* background-color: lightslategrey; */
    position: relative;
    max-width: 120rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    margin-left: auto;
    margin-right: auto;
}

.row{
    /* background-color: khaki; */
    display: flex;
    flex-wrap: wrap;
}

.row > *{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    margin: 1.6rem 0;
}

.col{
    max-width: 100%;
    flex-grow: 1;
}

.col-1{
    flex: 0 0 auto;
    width: 8.33333333%; 
}

.col-2{
    flex: 0 0 auto;
    width: 16.66666666%; 
}

.col-3{
    flex: 0 0 auto;
    width: 25% ; 
}

.col-4{
    flex: 0 0 auto;
    width: 33.33333332%; 
}

.col-5{
    flex: 0 0 auto;
    width: 41.66666665% ; 
}

.col-6{
    flex: 0 0 auto;
    width: 50%; 
}

.col-7{
    flex: 0 0 auto;
    width: 58.33333331%; 
}

.col-8{
    flex: 0 0 auto;
    width: 66.66666664%; 
}

.col-9{
    flex: 0 0 auto;
    width: 75%; 
}

.col-10{
    flex: 0 0 auto;
    width: 83.3333333%; 
}

.col-11{
    flex: 0 0 auto;
    width: 91.66666663%; 
}

.col-12{
    flex: 0 0 auto;
    width: 100%; 
}

/* sm */
@media (min-width: 576px){
    /* .container{
        width: 54rem;
    } */

    .col-sm-1{
        flex: 0 0 auto;
        width: 8.33333333%; 
    }
    
    .col-sm-2{
        flex: 0 0 auto;
        width: 16.66666666%; 
    }
    
    .col-sm-3{
        flex: 0 0 auto;
        width: 25% ; 
    }
    
    .col-sm-4{
        flex: 0 0 auto;
        width: 33.33333332%; 
    }
    
    .col-sm-5{
        flex: 0 0 auto;
        width: 41.66666665% ; 
    }
    
    .col-sm-6{
        flex: 0 0 auto;
        width: 50%; 
    }
    
    .col-sm-7{
        flex: 0 0 auto;
        width: 58.33333331%; 
    }
    
    .col-sm-8{
        flex: 0 0 auto;
        width: 66.66666664%; 
    }
    
    .col-sm-9{
        flex: 0 0 auto;
        width: 75%; 
    }
    
    .col-sm-10{
        flex: 0 0 auto;
        width: 83.3333333%; 
    }
    
    .col-sm-11{
        flex: 0 0 auto;
        width: 91.66666663%; 
    }
    
    .col-sm-12{
        flex: 0 0 auto;
        width: 100%; 
    }
    
}

/* md */
@media (min-width: 768px){
    /* .container{
        width: 72rem;
    } */

    .container{
        padding-right: 2.4rem;
        padding-left: 2.4rem;
    }

    .row > * {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }
    
    .col-md-1{
        flex: 0 0 auto;
        width: 8.33333333%; 
    }
    
    .col-md-2{
        flex: 0 0 auto;
        width: 16.66666666%; 
    }
    
    .col-md-3{
        flex: 0 0 auto;
        width: 25% ; 
    }
    
    .col-md-4{
        flex: 0 0 auto;
        width: 33.33333332%; 
    }
    
    .col-md-5{
        flex: 0 0 auto;
        width: 41.66666665% ; 
    }
    
    .col-md-6{
        flex: 0 0 auto;
        width: 50%; 
    }
    
    .col-md-7{
        flex: 0 0 auto;
        width: 58.33333331%; 
    }
    
    .col-md-8{
        flex: 0 0 auto;
        width: 66.66666664%; 
    }
    
    .col-md-9{
        flex: 0 0 auto;
        width: 75%; 
    }
    
    .col-md-10{
        flex: 0 0 auto;
        width: 83.3333333%; 
    }
    
    .col-md-11{
        flex: 0 0 auto;
        width: 91.66666663%; 
    }
    
    .col-md-12{
        flex: 0 0 auto;
        width: 100%; 
    }
}

/* lg */
@media (min-width: 992px){
    /* .container{
        width: 96rem;
    } */
    
    .col-lg-1{
        flex: 0 0 auto;
        width: 8.33333333%; 
    }
    
    .col-lg-2{
        flex: 0 0 auto;
        width: 16.66666666%; 
    }
    
    .col-lg-3{
        flex: 0 0 auto;
        width: 25% ; 
    }
    
    .col-lg-4{
        flex: 0 0 auto;
        width: 33.33333332%; 
    }
    
    .col-lg-5{
        flex: 0 0 auto;
        width: 41.66666665% ; 
    }
    
    .col-lg-6{
        flex: 0 0 auto;
        width: 50%; 
    }
    
    .col-lg-7{
        flex: 0 0 auto;
        width: 58.33333331%; 
    }
    
    .col-lg-8{
        flex: 0 0 auto;
        width: 66.66666664%; 
    }
    
    .col-lg-9{
        flex: 0 0 auto;
        width: 75%; 
    }
    
    .col-lg-10{
        flex: 0 0 auto;
        width: 83.3333333%; 
    }
    
    .col-lg-11{
        flex: 0 0 auto;
        width: 91.66666663%; 
    }
    
    .col-lg-12{
        flex: 0 0 auto;
        width: 100%; 
    }
}

/* xl */
@media (min-width: 1200px){
    /* .container{
        width: 114rem;
    } */
    
    .col-xl-1{
        flex: 0 0 auto;
        width: 8.33333333%; 
    }
    
    .col-xl-2{
        flex: 0 0 auto;
        width: 16.66666666%; 
    }
    
    .col-xl-3{
        flex: 0 0 auto;
        width: 25% ; 
    }
    
    .col-xl-4{
        flex: 0 0 auto;
        width: 33.33333332%; 
    }
    
    .col-xl-5{
        flex: 0 0 auto;
        width: 41.66666665% ; 
    }
    
    .col-xl-6{
        flex: 0 0 auto;
        width: 50%; 
    }
    
    .col-xl-7{
        flex: 0 0 auto;
        width: 58.33333331%; 
    }
    
    .col-xl-8{
        flex: 0 0 auto;
        width: 66.66666664%; 
    }
    
    .col-xl-9{
        flex: 0 0 auto;
        width: 75%; 
    }
    
    .col-xl-10{
        flex: 0 0 auto;
        width: 83.3333333%; 
    }
    
    .col-xl-11{
        flex: 0 0 auto;
        width: 91.66666663%; 
    }
    
    .col-xl-12{
        flex: 0 0 auto;
        width: 100%; 
    }
}

/* xxl */
@media (min-width: 1400px){
    /* .container{
        width: 137rem;
    } */
    
    .col-xxl-1{
        flex: 0 0 auto;
        width: 8.33333333%; 
    }
    
    .col-xxl-2{
        flex: 0 0 auto;
        width: 16.66666666%; 
    }
    
    .col-xxl-3{
        flex: 0 0 auto;
        width: 25% ; 
    }
    
    .col-xxl-4{
        flex: 0 0 auto;
        width: 33.33333332%; 
    }
    
    .col-xxl-5{
        flex: 0 0 auto;
        width: 41.66666665% ; 
    }
    
    .col-xxl-6{
        flex: 0 0 auto;
        width: 50%; 
    }
    
    .col-xxl-7{
        flex: 0 0 auto;
        width: 58.33333331%; 
    }
    
    .col-xxl-8{
        flex: 0 0 auto;
        width: 66.66666664%; 
    }
    
    .col-xxl-9{
        flex: 0 0 auto;
        width: 75%; 
    }
    
    .col-xxl-10{
        flex: 0 0 auto;
        width: 83.3333333%; 
    }
    
    .col-xxl-11{
        flex: 0 0 auto;
        width: 91.66666663%; 
    }
    
    .col-xxl-12{
        flex: 0 0 auto;
        width: 100%; 
    }
}

/*  */

:root{
    --font-family: 'iranyekanweb-Regular','IRANSansWeb',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --main-color: #7e57c2;
    --bg-color: #e8eaf6;
    --main-text-color: #000000de;
    --second-text-color: #00000099;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    direction: rtl;
    font: 1.5rem var(--font-family);
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: var(--main-text-color);
}

/* component */

.common-style-link{
    background: var(--bg-color);
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

/* helper class */

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-items-center{
    display: flex;
    align-items: center;
}

.Hfull-Vful{
    width: 100%;
    height: 100%;
}

/* header */

.header{
    background: #fff;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.nav{
    width: 100%;
}

.logo{
    width: 10rem;
    height: 5rem;
}

.menu-hamburger{
    display: none;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
}

.menu-hamburger , .btn-menu-cross__icon{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -ms-transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
}

.menu-hamburger:hover , .btn-menu-cross__icon:hover{
    background: rgba(0, 0, 0, .04);
}

.menu-hamburger__lines{
    width: 3.5rem;
    height: 3.5rem;
    fill: #0000008a;
}

.btn-menu-cross{
    display: none;
    padding: .2rem 0 .2rem .2rem;
    border-bottom: .1rem solid gainsboro;
    justify-content: flex-end;
}

.btn-menu-cross__icon{
    fill: #0000008a;
    cursor: pointer;
    padding: .7rem;
    width: 4.1rem;
    height: 4.1rem;
}

.menu__list-item{
    padding: .8rem 1.6rem;
}

.menu__link{
    color: #343434;
    line-height: 1;
    font-weight: 600;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.menu__link:hover{
    color: var(--main-color);
}

.menu__svg{
    display: none;
}

.nav__link{
    margin: 0 .5rem;
}

.nav__shopping-cart {
    padding: 1.5rem .97rem;
}

/* main */

.main{
    padding-top: 9rem;
}

/* section head */

.section-head{
    position: relative;
    padding-bottom: 10.4rem;
}

.section-head__description{
    padding-right: 1.6rem;
}

.section-head__title{
    color: var(--main-text-color);
    font: bolder 6rem/1.2 'YekanBakhHeavy',"IRANSansWeb","Roboto","Helvetica","Arial",sans-serif;
}

.section-head__caption{
    color: #757575;
    font: 1.82rem 'YekanBakhMedium';
    margin: 2.4rem 0 4rem;
}

.section-head__banner{
    padding-right: 0;
} 

.section-head__btn:first-child{
    background: var(--main-color);
    color: #fff;
    margin-left: .8rem;
}

.section-head__svg{
    margin-right: 1rem;
}

.section-head__arrow{
    position: absolute;
    bottom: 0;
    right: calc(50% - 9rem);
}

/* section-courses */

.section-courses__description{
    width: 100%;
    margin-bottom: 4.8rem;
}

.section-courses__title , .section-students-comments__title{
    font: 900 2.8rem/1.2 'YekanBakhHeavy';
    margin-right: .8rem;
}

.section-courses__link{
    font: 700 2.2rem/1.2 'YekanBakhMedium';
    margin-left: 1rem;
}

.courses .row{
    column-gap: 3rem;
}

.course{
    width: 23%;
    padding: 1.6rem;
    box-shadow: rgba(94, 129, 209, 0.16) 0px 8px 24px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.course__title{
    font-family: 'YekanBakhHeavy',"IRANSansWeb","Roboto","Helvetica","Arial",sans-serif;
    font-weight: bold;
    margin: 3.2rem 0 4rem;
    height: 4.8rem;
}

.course__time-details , .course__students{
    font-size: 1.2rem;
}

.course__duration{
    color: var(--main-color);
    margin-right: .8rem;
}

.course__price-and-students-and-loading{
    margin: 2.4rem 0 4rem;
}

.loading , .course__students{
    background: var(--bg-color);
    padding: .24rem .96rem .24rem 1.2rem;
    border-radius: 8rem;
    -webkit-border-radius: 8rem;
    -moz-border-radius: 8rem;
    -ms-border-radius: 8rem;
    -o-border-radius: 8rem;
}

.loading{
    position: relative;
    padding: 0;
    height: 2.28rem;
    width: 4rem;
    column-gap: .3rem;
}

.loading-circle{
    display: inline-block;
    background: #5e81d1;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.loading-circle:nth-child(1){
    animation: scale0 .4s infinite;
    -webkit-animation: scale0 .4s infinite;
}

.loading-circle:nth-child(2) , .loading-circle:nth-child(3){
    animation: translate .4s infinite;
    -webkit-animation: translate .4s infinite;
}

.loading-circle:nth-child(4){
    position: absolute;
    left: .96rem;
    animation: scale1 .4s infinite;
    -webkit-animation: scale1 .4s infinite;
}

.course__students{
    display: none;
}

.course__number-of-students{
    color: #5e81d1;
    margin-right: .8rem;
}

.course__price{
    color: var(--second-text-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.course__links{
    padding-top: 1.6rem;
    border-top: .1rem solid #0000001f;
}

.course__register{
    background: var(--main-color);
    color: #fff;
    font-family: 'YekanBakhHeavy';
    font-size: 1.4rem;
    padding: .6rem 2.5rem;
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -ms-transition: background .25s ease-in-out;
    -o-transition: background .25s ease-in-out;
}

.course__register:hover{
    background: rgb(87, 151, 91);
}

.course__view-course{
    font-family: 'iranyekanweb-Medium';
}

.course__arrow-svg , .section-students-comments__svg{
    margin-right: 1rem;
}

/* section-about-me */

.section-about-me{
    margin: 16rem 0;
}

.section-about-me__wrapper{
    display: flex;
}

.section-about-me__banner{
    flex-shrink: 0;
    position: relative;
    max-width: 35rem;
    max-height: 43rem;
}

.section-about-me__question-mark{
    font-family: 'YekanBakhHeavy';
    position: absolute;
    font-weight: 900;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.question-mark-one{
    top: 3rem;
    right: 5rem;
    background: #FFEBEE;
    color: #E53935;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
}

.question-mark-two{
    top: 9rem;    
    right: 28rem;
    background: #E0F7FA;
    color: #1E88E5;
    width: 5rem;
    height: 5rem; 
    font-size: 2.5rem;   
}

.question-mark-three{
    top: 14rem;    
    right: 2rem;
    background: #FFFDE7;
    color: #FDD835;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;    
}

.total-container-about-me{
    width: 100%;
    flex-direction: column;
}

.container-about-me{
    position: relative;
    min-height: 28rem;
    width: 100%;
    margin-bottom: 4rem;
}

.container-about-me::before{
    content: '';
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}

.container-about-me::before , .current-explanation , .next-explanation , .video-parent{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    box-shadow: rgba(126, 87, 194, 0.16) 0px 4px 12px;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.container-about-me::before , .current-explanation , .next-explanation{
    background: #fff;
    max-width: 50rem;
    min-height: 28rem;
}

.next-explanation{
    transform:  rotate(5deg);
    -webkit-transform:  rotate(5deg);
    -moz-transform:  rotate(5deg);
    -ms-transform:  rotate(5deg);
    -o-transform:  rotate(5deg);
}

.current-explanation , .next-explanation{
    padding: 3.5rem 3rem 3rem;
}

.next-explanation__title , .current-explanation__title{
    color: var(--main-color);
    font: 2.4rem 'YekanBakhHeavy';
    font-weight: 900;
    margin-bottom: 2rem;
}

.next-explanation__text , .current-explanation__text{
    font-family: 'YekanBakhMedium';
    line-height: 1.7;
}

.about-me__btn , .section-students-comments__btn{
    background: transparent;
    border: none;
    outline: none;
}

.next-btn , .prev-btn , #next-video-btn , #prev-video-btn{
    cursor: pointer;
}

.next-btn , #next-video-btn{
    margin-left: 2rem;
}

/* section-students-comments */

.section-students-comments__container_title{
    margin: 0 0 4rem;
}

.container-student-informations{
    display: flex;
}

.student-informations{
    flex-shrink: 0;
    width: 32.5%;
}

.student-informations__profile{
    background: #dbdbdb;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.student-informations__profile-svg{
    width: 5.2rem;
    height: 5.2rem;
}

.student-informations__about-name{
    margin-right: 2.4rem;
}

.student-informations__username{
    font-family: 'YekanBakhMedium';
    font-weight: 500;
}

.student-informations__career{
    font: 1.4rem 'IRANSansWeb';
    margin-top: .8rem;
}

.student-informations__comment{
    font-weight: 900;
    margin: 3.2rem 0;
}

.section-students-comments__btns-and-link{
    gap: 4rem;
}

.student-videos{
    position: relative;
    width: calc(100% - 32.5%);
}

.video-parent{
    max-width: 40rem;
    height: 26.7rem;
    overflow: hidden;
}

.video-one{
    transform: rotateZ(-20deg);
    -webkit-transform: rotateZ(-20deg);
    -moz-transform: rotateZ(-20deg);
    -ms-transform: rotateZ(-20deg);
    -o-transform: rotateZ(-20deg);
}

.video-two{
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
}

/* instagram */

.section-instagram{
    margin-top: 16rem;
}

.instagram{
    position: relative;
    background: linear-gradient(90deg, #BA68C8, #F06292, #FFD54F);
    font: 900 2.6rem 'YekanBakhHeavy';
    color: #fff;
    padding: 2.7rem 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.instagram__caption{
    width: fit-content;
    margin-right: auto;
    padding: 0 6.4rem;
}

.instagram__link{
    color: #0000ee;
}

.instagram__mockup{
    position: absolute;
    right: -5rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* footer */

.footer{
    margin-top: 19rem;
}

.total-container-footer{
    display: flex;
    margin-bottom: 4rem;
}

.total-container-footer > div{
    width: 50%;
}

.footer__container:nth-child(1){
    padding-left: 3.2rem;
}

.footer__container:nth-child(2){
    padding-right: 3.2rem;
    display: flex;
    flex-wrap: wrap;
}

.footer-details__cover{
    width: 15rem;
    max-height: 7.5rem;
}

.footer-logo{
    cursor: pointer;
}

.footer-details__texts{
    color: #616161;
    margin-right: 1.6rem;
}

.footer-details__title{
    font: 2rem 'YekanBakhHeavy';
}

.footer-details__text{
    font-weight: 700;
    word-spacing: -.2rem;
}

.footer-details__caption{
    margin-top: 3.2rem;
    opacity: .9;
}

.footer__container:nth-child(2) > *{
    width: 50%;
}

.sections-of-the-site * , .secure-payment {
    color: var(--second-text-color);
}

.sections-of-the-site__title , .secure-payment__title{
    font: 2rem 'YekanBakhBold';
    margin-bottom: 2rem;
}

.sections-of-the-site-lists__item{
    position: relative;
}

.sections-of-the-site-lists__item:not(:last-child){
    margin-bottom: .8rem;
}

.sections-of-the-site-lists__item::before{
    content: '';
    background: var(--bg-color);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: .8rem;
    height: .8rem;
}

.sections-of-the-site-lists__link{
    font-family: 'iranyekanweb-Medium';
    margin-right: 1.5rem;
}

.communications-ways__link{
    width: 3rem;
    height: 3rem;
}

.communications-ways__svg{
    fill: var(--main-color);
}

.communications-ways__link:nth-child(2){
    margin: 0 1rem;
}

.footer__text{
    font-family: 'YekanBakhBold';
    text-align: center;
    padding: 1.6rem 0;
    opacity: .7;
}


@keyframes translate{
    from{
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
}
    to{
        transform:translateX(.96rem);
        -webkit-transform:translateX(.96rem);
        -moz-transform:translateX(.96rem);
        -ms-transform:translateX(.96rem);
        -o-transform:translateX(.96rem);
}
}

@keyframes scale1{
    from{
        transform:scale(0);
        -webkit-transform:scale(0);
        -moz-transform:scale(0);
        -ms-transform:scale(0);
        -o-transform:scale(0);
    }
    to{
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
    }
}

@keyframes scale0{
    from{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    to{
        transform:scale(0);
        -webkit-transform:scale(0);
        -moz-transform:scale(0);
        -ms-transform:scale(0);
        -o-transform:scale(0);
    }   
}

@keyframes nextAnimation{
    0%{
        transform: translateY(0) rotate(5deg);
        -webkit-transform: translateY(0) rotate(5deg);
        -moz-transform: translateY(0) rotate(5deg);
        -ms-transform: translateY(0) rotate(5deg);
        -o-transform: translateY(0) rotate(5deg);
    }
    50%{
        transform: translateY(-120%) rotate(-15deg);
        -webkit-transform: translateY(-120%) rotate(-15deg);
        -moz-transform: translateY(-120%) rotate(-15deg);
        -ms-transform: translateY(-120%) rotate(-15deg);
        -o-transform: translateY(-120%) rotate(-15deg);
}
    100%{
        transform: translateY(0) rotate(0deg);
        -webkit-transform: translateY(0) rotate(0deg);
        -moz-transform: translateY(0) rotate(0deg);
        -ms-transform: translateY(0) rotate(0deg);
        -o-transform: translateY(0) rotate(0deg);
        z-index: 7;
    }
}

@keyframes currentAnimation{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    50%{
        transform: translateY(15%) rotate(-2.5deg);
        -webkit-transform: translateY(15%) rotate(-2.5deg);
        -moz-transform: translateY(15%) rotate(-2.5deg);
        -ms-transform: translateY(15%) rotate(-2.5deg);
        -o-transform: translateY(15%) rotate(-2.5deg);
}
    100%{
        transform: translateY(0) rotate(5deg);
        -webkit-transform: translateY(0) rotate(5deg);
        -moz-transform: translateY(0) rotate(5deg);
        -ms-transform: translateY(0) rotate(5deg);
        -o-transform: translateY(0) rotate(5deg);
        z-index: 6;
}
}

@keyframes nextVideo{
    0%{
        transform: translateY(0) rotate(-10deg);
        -webkit-transform: translateY(0) rotate(-10deg);
        -moz-transform: translateY(0) rotate(-10deg);
        -ms-transform: translateY(0) rotate(-10deg);
        -o-transform: translateY(0) rotate(-10deg);
}
    50%{
        transform: translateY(-120%) rotate(-20deg);
        -webkit-transform: translateY(-120%) rotate(-20deg);
        -moz-transform: translateY(-120%) rotate(-20deg);
        -ms-transform: translateY(-120%) rotate(-20deg);
        -o-transform: translateY(-120%) rotate(-20deg);
}
    100%{
        transform: translateY(0) rotate(0deg);
        -webkit-transform: translateY(0) rotate(0deg);
        -moz-transform: translateY(0) rotate(0deg);
        -ms-transform: translateY(0) rotate(0deg);
        -o-transform: translateY(0) rotate(0deg);
        z-index: 7;
    }
}

@keyframes currentVideo{
    0%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    50%{
        transform: translateY(15%) rotate(-5deg);
        -webkit-transform: translateY(15%) rotate(-5deg);
        -moz-transform: translateY(15%) rotate(-5deg);
        -ms-transform: translateY(15%) rotate(-5deg);
        -o-transform: translateY(15%) rotate(-5deg);
}
    100%{
        transform: translateY(0) rotate(-10deg);
        -webkit-transform: translateY(0) rotate(-10deg);
        -moz-transform: translateY(0) rotate(-10deg);
        -ms-transform: translateY(0) rotate(-10deg);
        -o-transform: translateY(0) rotate(-10deg);
        z-index: 6;
}
}

/* responsive */

@media (max-width: 1200px){
    .section-head__title{
        font-size: 4.5rem;
    }

    .courses .row > *{
        width: 31%;
    }
    
    .student-informations {
        width: 40.5%;
    }

    .student-videos{
        width: calc(100% - 40.5%);
    } 
}

@media (max-width: 992px){
    .menu__list-item {
        padding: 0.8rem 1rem;
    }

    .section-head__title{
        font-size: 3.5rem;
    }

    .section-head__caption {
        font-size: 1.7rem;
    }

    .section-head__btns{
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }

    .section-head__btn:first-child{
        margin: 0 0 .8rem 0;
    }
    
    .courses .row{
        column-gap: 1rem;
    }
    
    .courses .row > *{
        margin: .5rem 0;
        width: 32.5%;
    }

    .section-instagram , .footer {
        margin-top: 12rem;
    }

    .instagram__caption{
        margin: auto;
    }

    .instagram__mockup{
        display: none;
    }

    .section-about-me{
        margin: 12rem 0;
    }

    .section-about-me__wrapper {
        flex-direction: column;
    }

    .section-about-me__banner{
        margin: 0 auto 10rem;
    }
}

@media (max-width: 848px){
    .courses .row{
        column-gap: 2rem;
    }
    
    .courses .row > *{
        margin: 1rem 0;
        width: 47.99%;
        flex-grow: 1;
    }

    .instagram__caption{
        font-size: 2.2rem;
        padding: 0 1.6rem;
    }

    .student-informations , .student-videos{
        width: 100%;
    }

    .section-students-comments__btns-and-link{
        justify-content: center;
    }

    .student-videos {
        height: 38.6rem;
        margin-top: 5rem;
    }

    .total-container-footer , .container-student-informations{
        flex-direction: column;
    }

    .total-container-footer > div{
        width: 100%;
    }

    .footer__container:nth-child(1){
        padding-left: 0;
        margin-bottom: 4rem;
    }
    
    .footer__container:nth-child(2){
        padding-right: 0;
    }

    .communications-ways{
        margin-top: 4rem;
    }
}

@media (max-width: 768px){
    .common-style-link{
        padding: 1rem 2rem;
        border-radius: 1.5rem;
        -webkit-border-radius: 1.5rem;
        -moz-border-radius: 1.5rem;
        -ms-border-radius: 1.5rem;
        -o-border-radius: 1.5rem;
    }

    .logo{
        display: none;
    }

    .menu-hamburger{
        display: flex;
    }

    .total-container-menu{
        cursor: pointer;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    .header-active .total-container-menu{
        opacity: 1;
        visibility: visible;
    }

    .container-menu{
        cursor: default;
        background: #fff;
        position: relative;
        top: 0;
        right: -22.5rem;
        width: 22.5rem;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
        transition: right .4s;
        -webkit-transition: right .4s;
        -moz-transition: right .4s;
        -ms-transition: right .4s;
        -o-transition: right .4s;
    }

    .header-active .container-menu{
        right: 0;
    }

    .btn-menu-cross{
        display: flex;
    }

    .menu{
        flex-direction: column;
        align-items: flex-start;
        padding: .8rem 0;
    }

    .menu__list-item {
        padding: 1rem ;
    }

    .menu__svg{
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
    }

    .menu__link{
        font-size: 1.5rem;
        font-weight: 900;
        margin-right: .6rem;
    }

    .nav__shopping-cart {
        padding: 1.13rem .5rem;
    }

    .main .row > *{
        padding-left: 0;
        padding-right: 0;
    }

    .section-head .row{
        flex-direction: column-reverse;
    }

    .section-head__description {
        padding-left: 1.6rem;
    }

    .section-head__title {
        font-size: 4rem;
    }

    .section-head__btns {
        flex-direction: row;
    }

    .section-head__caption {
        margin: 1.8rem 0 3rem;
    }

    .section-head__btn:first-child{
        margin: 0 0 0 .8rem;
    }

    .section-head__arrow{
        display: none;
    }
    
    .courses .row{
        column-gap: 2rem;
    }
    
    .courses .row > *{
        margin: 1rem 0;
        width: 47.99%;
        padding: 1.6rem;
    }
}

@media (max-width: 576px){
    .section-head__title {
        font-size: 3.5rem;
    }

    .section-courses__title , .section-students-comments__title{
        font-size: 2.4rem;
    }

    .instagram__caption{
        font-size: 2rem;
        text-align: center;
    }

    .container-about-me::before, .current-explanation, .next-explanation{
        max-width: 100%;
        margin: 0 1.6rem ;
    }

    .current-explanation, .next-explanation {
        padding: 2rem;
    }

    .next-explanation__title, .current-explanation__title{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .video-parent{
        max-width: 40rem;
    }

    .footer-details__container{
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-details__texts{
        margin-top: 1.6rem;
    }

    .footer__container:nth-child(2) > * {
        width: 100%;
    }

    .sections-of-the-site{
        margin-bottom: 4rem;
    }
}

@media (max-width: 490px){
    .video-parent{
        max-width: 33rem;
        height: 22rem;
    }
}

@media (max-width: 420px){
    .common-style-link {
        padding: 1rem;
    }

    .nav__shopping-cart {
        padding: 1.06rem 0.5rem;
    }

    .section-head__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .section-head__caption {
        font-size: 1.9rem;
    }

    .section-head__btns{
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }

    .section-head__btn:first-child{
        margin: 0 0 .8rem 0;
    }

    .question-mark-one , .question-mark-three{
        right: 0;
    }

    .question-mark-two{
        left: 0;
        right: auto;
    }

    .student-videos {
        height: 24.6rem;
    }

    .video-parent{
        max-width: 26rem;
        height: 17.4rem;
    }
}

@media (max-width: 376px){
    .container-about-me::before , .current-explanation , .next-explanation{
        min-height: 32rem;
    }

    .container-about-me{
        margin-bottom: 7rem;
    }
}